<% include includes/head %>
<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <% include includes/sidebar %>
        <!-- Sidebar End -->

        <!-- Top Bar -->
        <% include includes/topbar %>
        <!-- Top Bar End -->

        <!-- Page Content  -->
        <div id="content">
            <div class="container-fluid">
                <!-- Page Title Row -->
                <% include includes/pageTitle %>
                <!-- Page Title Row End -->

                <!-- Add Button Modal-->
                <div class="row">
                    <div class="col-12">
                        <div class="float-left mdl-task-form my-4">
                            <a href="#" class="btn btn-outline-nm">
                                <i class="fas fa-plus"></i>
                                Create A New Link
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Add Button Modal-->



                <!-- Page Content Row -->
                <div class="row">
                    <div class="col-md-8 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">Nav Links</h4>
                                <div class="list-wrapper pt-2">
                                    <ul class="d-flex flex-column-reverse todo-list todo-list-custom">

                                        <li>
                                            <div class="form-check form-check-flat">
                                                <label class="form-check-label">
                                                    <input class="checkbox" type="checkbox">
                                                    Meeting with Urban Team
                                                    <i class="input-helper"></i></label>
                                            </div>
                                            <i class="remove fas fa-times"></i>
                                        </li>
                                        
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">Activities</h4>
                                <div class="list-wrapper pt-2">
                                    
                                </div>
                    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page Content Row -->


            </div>

        </div>
    </div>
        
</body>
        
<script src="/js/bootstrap/popper.min.js+bootstrap.min.js.pagespeed.jc.sIO8dxRblt.js"></script>
<script src="/js/custom/design.js"></script>

</html>