<% include includes/head %>
<!-- Body Section -->
<body>
    <% include includes/navBar %>
    <% include includes/Slider %>





    
    <% include includes/loader %>
    
<script src="/js/custom/design.js"></script>
<!-- <script src="/js/other/jquery.fancybox.min.js+aos.js+custom.js.pagespeed.jc.LQZgLUc6p4.js"></script> -->
<script src="/js/aos/aos.min.js"></script>
<script src="/js/aos/aos.start.js"></script>
<!-- <script>
    eval(mod_pagespeed_FA1rmFTGI0);
</script>
<script>
    eval(mod_pagespeed_QUsmq5bg1C);
</script>
<script>
    eval(mod_pagespeed_KcQAD3COvb);
</script> -->
</body>

</html>