<% include includes/head2 %>
    <!-- Body Section -->

<body>
    <script type="module" src="/js/custom/validator.js"></script>
    <script type="module" src="/js/custom/helper.js"></script>
    <script type="module" src="/js/custom/verify.js"></script>
</body>

</html>