<div class="untree_co-section pt-0">
    <div class="container">
        <div class="text-center mb-5" data-aos="fade-up" data-aos-delay="0">
            <span class="subtitle">Choose Desserts</span>
            <h3>Popular <strong class="text-primary">Desserts</strong></h3>
        </div>
        <div class="row align-items-stretch">
            <div class="col-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="0">
                <a href="#" class="d-flex dess-item align-items-center h-100">
                    <figure class="mr-3">
                        <img src="images/1x/xdessert_1.png.pagespeed.ic.CQP0J8oN1A.webp" alt="Image" class="img-fluid">
                    </figure>
                    <div>
                        <h3>Cherry Muffin</h3>
                        <span class="price">$20</span>
                    </div>
                </a>
            </div>
            <div class="col-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                <a href="#" class="d-flex dess-item align-items-center h-100">
                    <figure class="mr-3">
                        <img src="images/1x/xdessert_2.png.pagespeed.ic.geW-S93g4E.webp" alt="Image" class="img-fluid">
                    </figure>
                    <div>
                        <h3>Rose Muffin</h3>
                        <span class="price">$20</span>
                    </div>
                </a>
            </div>
            <div class="col-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
                <a href="#" class="d-flex dess-item align-items-center h-100">
                    <figure class="mr-3">
                        <img src="images/1x/xdessert_5.png.pagespeed.ic.E_81DYe9HM.webp" alt="Image" class="img-fluid">
                    </figure>
                    <div>
                        <h3>Sweet Donut</h3>
                        <span class="price">$20</span>
                    </div>
                </a>
            </div>
            <div class="col-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
                <a href="#" class="d-flex dess-item align-items-center h-100">
                    <figure class="mr-3">
                        <img src="images/1x/xdessert_4.png.pagespeed.ic.9FFtnRH468.webp" alt="Image" class="img-fluid">
                    </figure>
                    <div>
                        <h3>Choco Cake</h3>
                        <span class="price">$20</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>