<div id="events" class="untree_co-section">
    <div class="container">
        <div class="row mb-4 justify-content-center">
            <div class="col-md-7 text-center mb-5" data-aos="fade-up" data-aos-delay="0">
                <span class="subtitle">Events</span>
                <h2>Enjoy <strong class="text-primary">Our Story</strong></h2>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts.
                </p>
            </div>
        </div>
        <% if (evs && evs.length> 0 ) { %>
        <div class="events-slider owl-carousel" data-aos="fade-up" data-aos-delay="100">
            <% for (var e=0; e < evs.length; e++) { %>
                <div class="event">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <img src="<%= evs[e].img %>" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-5">
                            <!-- <span class="event-price d-block">$200.99</span> -->
                            <h3 class="mb-4 event-title"><%= evs[e].title %></h3>
                            <p class="mb-4 event-descp">
                                <%= evs[e].descp %>
                            </p>
                            <!-- <ul class="list-unstyled ul-check">
                                <li>Away behind the word</li>
                                <li>Bookmarksgrove right at the coast</li>
                                <li>Separated they live</li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            <% } %>  
        </div>
        <% } %>
    </div>
</div>