<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="Nimi's, cuisine, soup, parfait, small chops, food, snacks" />
    <title>Nimi's Cuisine</title>
    <meta name="theme-color" content="#ffffff">

    <!-- Favourite Icon -->
    <link rel="shortcut icon" type="image/jpg" href="/img/logo/logo.png" />
    
    <!-- icon CSS -->
    <link rel="stylesheet" href="/css/fontawesome/all.min.css">
    <link rel="stylesheet" href="/css/fontawesome/fontawesome.min.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">

    <!-- Animtion CSS -->
    <link rel="stylesheet" href="/css/aos/aos.min.css">

    <!-- Animtion CSS -->
    <link rel="stylesheet" href="/css/owl-carousel/owl.carousel.min.css">
    
    <!-- Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Playfair+Display:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- personnal CSS -->
    <link rel="stylesheet" href="/css/custom/nimi.css" />

    <!-- Jquery, swal -->
    <script src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/swal/sweetalert2.all.min.js"></script>
    
    
</head>