<!-- Page Title -->
<div class="row mb-1">
    <div class="col-12">
        <div class="d-flex w-100">
            <h3 class="font-weight-bold">
                <i class="<%= icon %>"></i>
                <%= title %>
            </h3>
        </div>
    </div>
</div>
<!-- Page Title End -->

<!-- BreadCrumb -->
<div class="row">
    <div class="col-12">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item">
                <a href="/sponsor">
                    <i class="fas fa-home"></i> Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <i class="<%= icon %>"></i>
                <%= title %>
            </li>
        </ol>
    </div>
</div>
<!-- BreadCrumb End -->