body,
html {
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.swal2-container {
  overflow-y: scroll !important;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.img-fluidy {
  max-width: 100%;
}

textarea {
  height: 180px;
}

canvas {
  width: 100% !important;
  height: 200px !important;
}

.prod-add-img {
  width: 100%;
  height: 250px;

  img {
    width: 99%;
    max-height: 200px;
  }
}

.deactivated {
  display: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.breadcrumb {
  box-shadow: 1px 1px 3px rgba(173, 172, 172, 0.171);
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.fs-30 {
  font-size: 30px;
}

.bg-Dark {
  background: #232227;
}

.tale-bg {
  background: #dae7ff;
}

.card-tale {
  background: #7da0fa;
  color: #ffffff;
}

.card-dark-blue {
  background: #4747a1;
  color: #ffffff;
}

.card-light-blue {
  background: #7978e9;
  color: #ffffff;
}

.card-light-danger {
  background: #f3797e;
  color: #ffffff;
}

a {
  &:hover {
    text-decoration: none !important;
  }
}

.box-shadow {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.h-157 {
  height: 157px !important;
}

.btn-outline-nm {
  border: 1px solid rgb(75, 73, 172);
  color: rgb(75, 73, 172);
  background: transparent;
  font-weight: 400;
  &:hover {
    background: rgb(75, 73, 172);
    color: #ffffff;
    transform: scaleX(1.1);
  }
}

.card {
  width: 100%;
  min-width: 100%;
  border-radius: 1.05rem;
  max-height: 600px !important;
  overflow: hidden;
  .card-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
  }
  .card-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 480px !important;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
  }

  .user-activity-card {
    .u-img .cover-img {
      width: 60px;
      height: 60px;
    }

    .u-img .profile-img {
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: -5px;
      right: -5px;
    }

    .img-radius {
      border-radius: 5px;
    }

    .u-img {
      position: relative;
    }
  }
}

.wrapper {
  display: flex;
  width: 100%;

  /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

  #sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;

    .sidebar-header {
      display: block;
      padding: 20px;
    }

    .logo-box {
      width: 100%;
      height: 105px;

      img {
        max-height: 83px !important;
      }
    }

    ul p {
      color: #fff;
      padding: 10px;
    }

    ul li a {
      padding: 12px;
      font-size: 1.1em;
      display: block;
    }

    ul li a:hover {
      color: #7386d5;
      background: #fff;
    }

    ul li.active > a,
    a[aria-expanded='true'] {
      color: #fff;
      background: #6d7fcc;
    }

    a[data-toggle='collapse'] {
      position: relative;
    }

    .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }

    ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      //   background: #6d7fcc;
    }

    ul.CTAs {
      display: block;
      padding: 20px;
      border-top: 1px solid #47748b;
      overflow-y: auto;
      height: 80%;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }
    }

    ul.CTAs a {
      text-align: left;
      font-size: 1em !important;
      display: block;
      border-radius: 8px;
      margin-bottom: 5px;
      color: #fff;
    }

    a.article,
    a.article:hover {
      background: #6d7fcc !important;
      color: #fff !important;
    }

    &.active {
      margin-left: -250px;
    }
    @media (max-width: 768px) {
      margin-left: -250px;
      &.active {
        margin-left: 0;
      }
    }
  }

  /* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

  #topbar {
    background: #ffffff;
    position: fixed;
    width: calc(100% - 250px) !important;
    top: 0;
    right: 0;
    transition: all 0.3s;
    z-index: 750;

    #sidebarCollapse {
      background: transparent;
      border: none;
      font-size: 20px;
      color: rgba(77, 76, 76, 0.685);
    }

    .nav-link {
      color: rgba(77, 76, 76, 0.685);
      font-size: 20px;

      .count {
        position: absolute;
        left: 49%;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #4b49ac;
        // padding: 10px;
        color: #fff;
        font-size: 13px;
        text-align: center;
        top: 1px;
        border: 1px solid #ffffff;
      }

      &:hover {
        color: #7386d5;
        transform: scaleX(1.1);
      }
    }

    .nav-profile img {
      width: 37px;
      height: 37px;
      border-radius: 100%;
    }

    .dropdown-menu {
      z-index: 800;
      font-size: 0.9rem;
      margin-top: 0;
      right: 0;
      left: auto;
      top: 70px;
      border: none;
      -webkit-box-shadow: 0px 3px 21px 0px rgb(0, 0, 0 / 20%);
      box-shadow: 0px 3px 21px 0px rgb(0, 0, 0 / 20%);
      animation-name: dropdownAnimation;
      animation-fill-mode: both;

      @media (max-width: 992px) {
        position: absolute;
      }

      .dropdown-item {
        margin-bottom: 0;
        padding: 0.687rem 1.562rem;
        cursor: pointer;
        display: flex !important;
      }

      i {
        margin-right: 0.5rem;
        vertical-align: middle;
        font-size: 17px;
        color: #4b49ac !important;
      }

      .preview-thumbnail {
        color: #ffffff;
        position: relative;

        .preview-icon {
          padding: 6px;
          text-align: center;
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          -webkit-justify-content: center;
          justify-content: center;
          width: 36px;
          height: 36px;
          border-radius: 100%;
        }
      }

      .preview-item-content {
        line-height: 1;
        padding-left: 15px;
      }
    }

    .dropdown-toggle::after {
      display: none !important;
    }

    &.active {
      width: 100% !important;
    }
    @media (max-width: 768px) {
      width: 100% !important;
      left: 0;
    }
  }

  /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

  #content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;
    left: 250px;
    top: 75px;
    right: 0;
    background: #f5f7ff;
    z-index: 700;

    &.active {
      width: 100%;
      left: 0;
    }

    .remove,
    .plus,
    .edit,
    .caret {
      // float: right;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      width: 1.25rem;
      height: 1.25rem;
      line-height: 1.25rem;
      text-align: center;
      color: #a3a4a5 !important;

      &:hover {
        color: #4b49ac !important;
      }
    }

    .caret {
      color: #000 !important;
    }

    .stretch-card {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: stretch;
      align-items: stretch;
      -webkit-justify-content: stretch;
      justify-content: stretch;
      margin-bottom: 2.5rem;

      .card {
        .card-people {
          position: relative;
          padding-top: 20px;

          img {
            border-radius: 20px;
            width: 100%;
          }

          .weather-info {
            position: absolute;
            top: 20px;
            right: 24px;

            h2 {
              @media (max-width: 768px) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .list-wrapper ul {
      padding: 0;
      text-align: left;
      list-style: none;
      margin-bottom: 0;

      input[type='checkbox'] {
        margin-right: 15px;
        width: 20px;
        height: 20px;
      }

      li {
        font-size: 0.9375rem;
        padding: 1.063rem 1.4rem;
        border: 1px solid #ced4da;
        margin-bottom: 0.812rem;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;

        &:hover {
          border: 1px solid #4b49ac;
        }

        .cat-img {
          width: 100%;
          height: 120px;
          img {
            width: 100%;
            max-height: 120px;
          }
        }
        .form-check {
          max-width: 90%;
          margin-top: 0.25rem;
          margin-bottom: 0.25rem;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 100%;
          white-space: normal;
        }
      }

      .completed .form-check {
        text-decoration: line-through;
        text-decoration-color: #248afd;
      }
    }

    .add-slider {
      padding: 30px 20px;
      border: 1px dashed #4d64be;
      background: transparent;
      width: 100%;
      border-radius: 20px;
      color: #4d64be;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      height: 200px;

      &.wii {
        width: 200px !important;
      }

      span {
        width: 50px;
        height: auto;
        border-radius: 100%;
        background: #4d64be;
        display: block;
        color: #ffffff;
        padding: 5px !important;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 10px;
      }

      &:hover {
        cursor: pointer;
        background: #263366;
        color: #ffffff;

        span {
          background: #ffffff !important;
          color: #263366;
        }
      }
    }

    .social {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      width: 100%;
      left: 0;
      top: 143px;

      &.active {
        width: 100%;
        left: 0;
        top: 143px;
      }
      #sidebarCollapse span {
        display: none;
      }
    }
  }

  .modal {
    .modal-content {
      border-radius: 10%;
      position: relative;

      .avatar {
        width: 100px;
        height: 100px;
        background-color: #ffffff;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
      }
    }
  }
}
