*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.deactivated {
  display: none !important;
}

.right-40 {
  right: 149px !important;
}

@media (max-width: 992px) {
  .right-40 {
    display: none;
  }
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fee2b3;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a {
  color: #ff5200;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a:hover {
  color: #ff5200;
  text-decoration: none;
}

.text-primary {
  color: #ff5200 !important;
}

a.text-primary {
  color: #ff5200 !important;
}

a.text-primary:hover {
  color: #ff5200 !important;
}

.site-nav {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.site-nav.over {
  background: #fff;
}

.site-nav a {
  position: relative;
  z-index: 9;
  cursor: pointer;
}

.site-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-nav h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.site-nav .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-nav .site-navigation .site-menu > li {
  display: inline-block;
}

.site-nav .site-navigation .site-menu > li > a {
  font-size: 14px;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
}

.site-nav.over .site-navigation .site-menu > li > a {
  color: #000;
}

.site-nav .site-navigation .site-menu > li > a:hover {
  color: #fff;
}

.site-nav.over .site-navigation .site-menu > li > a:hover {
  color: #ff5200;
}

.site-nav .site-navigation .site-menu > li.active > a {
  color: #fff;
}

.site-nav.over .site-navigation .site-menu > li.active > a {
  color: #ff5200 !important;
}

.site-nav .site-navigation .site-menu .has-children {
  position: relative;
}

.site-nav .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}

/* .site-nav .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: '\e313';
  font-size: 14px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon';
} */
.site-nav .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  z-index: 999;
  position: absolute;
  text-align: left;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  margin-top: 20px;
  margin-left: 0;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-nav .site-navigation .site-menu .has-children .dropdown a {
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  transition: 0s all;
  color: #000;
}

.site-nav .site-navigation .site-menu .has-children .dropdown .active {
  color: #ff5200 !important;
}

.site-nav .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 180px;
}

.site-nav .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 5px 20px;
  display: block;
}

.site-nav .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  color: #ff5200;
}

.site-nav .site-navigation .site-menu .has-children .dropdown > li.active > a {
  color: #ff5200;
}

.site-nav
.site-navigation
.site-menu
.has-children
.dropdown
> li.has-children
> a:before {
  content: '\e315';
  right: 20px;
}

.site-nav
.site-navigation
.site-menu
.has-children
.dropdown
> li.has-children
> .dropdown,
.site-nav
.site-navigation
.site-menu
.has-children
.dropdown
> li.has-children
> ul {
  left: 100%;
  top: 0;
}

.site-nav
.site-navigation
.site-menu
.has-children
.dropdown
> li.has-children
> .dropdown
li
a:hover,
.site-nav
.site-navigation
.site-menu
.has-children
.dropdown
> li.has-children
> ul
li
a:hover {
  color: #ff5200;
}

.site-nav
.site-navigation
.site-menu
.has-children
.dropdown
> li.has-children:hover
> a,
.site-nav
.site-navigation
.site-menu
.has-children
.dropdown
> li.has-children:active
> a,
.site-nav
.site-navigation
.site-menu
.has-children
.dropdown
> li.has-children:focus
> a {
  color: #ff5200;
}

.site-nav .site-navigation .site-menu .has-children:hover > a,
.site-nav .site-navigation .site-menu .has-children:focus > a,
.site-nav .site-navigation .site-menu .has-children:active > a {
  color: #fff;
}

.site-nav .site-navigation .site-menu .has-children:hover,
.site-nav .site-navigation .site-menu .has-children:focus,
.site-nav .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-nav .site-navigation .site-menu .has-children:hover > .dropdown,
.site-nav .site-navigation .site-menu .has-children:focus > .dropdown,
.site-nav .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu-close {
  display: block;
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 99;
  cursor: pointer;
  top: -20px;
}

.site-mobile-menu-close > span {
  cursor: pointer;
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
}

.site-mobile-menu-close > span:before,
.site-mobile-menu-close > span:after {
  position: absolute;
  content: '';
  width: 2px;
  height: 30px;
  background: #000;
}

.site-mobile-menu-close > span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.site-mobile-menu-close > span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
}

.offcanvas-menu .site-mobile-menu {
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 5px 20px;
  display: block;
  position: relative;
  color: #000;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #ff5200;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li.active > a {
  color: #ff5200;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 14px;
  z-index: 20;
  font-family: 'icomoon';
  content: '\e313';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 14px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 14px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 14px;
  padding-left: 60px;
}

.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
}

.burger.light:before,
.burger.light span,
.burger.light:after {
  background: #fff;
}

.over .burger.light:before,
.over .burger.light span,
.over .burger.light:after {
  background: black;
}

.burger:before,
.burger span,
.burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #000;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
}

.burger:before,
.burger:after {
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: '';
}

.burger:before {
  top: 4px;
}

.burger span {
  top: 15px;
}

.burger:after {
  top: 26px;
}

.burger:hover:before {
  top: 7px;
}

.burger:hover:after {
  top: 23px;
}

.burger.active span {
  opacity: 0;
}

.burger.active:before,
.burger.active:after {
  top: 40%;
}

.burger.active:before {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
}

.burger.active:after {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
}

.burger:focus {
  outline: none;
}

.untree_co-hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.untree_co-hero .carousel-item img {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  position: relative;
}

.untree_co-hero.overlay {
  position: relative;
}

.untree_co-hero.overlay:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.untree_co-hero > .container {
  position: relative;
  z-index: 2;
}

.untree_co-hero,
.untree_co-hero > .container > .row {
  height: 100vh;
  min-height: 650px;
}

.untree_co-hero .caption {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.untree_co-hero .heading {
  font-size: 70px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .untree_co-hero .heading {
    font-size: 50px;
  }
}

.untree_co-hero .link-highlight {
  color: #fff;
  position: relative;
  display: inline;
  -webkit-box-shadow: 0 5px 0 0 #ff5200;
  box-shadow: 0 5px 0 0 #ff5200;
}

.untree_co-hero .desc {
  font-size: 18px;
}

#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-border {
  color: #ff5200;
}

.logo {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  left: 30px;
}

.logo img {
  width: 120px !important;
  height: 60px !important;
}

@media (max-width: 992px) {
  .logo img {
    width: 70px !important;
    height: 30px !important;
  }
}

.logo:hover {
  color: #fff;
}

.menu-absolute {
  position: absolute !important;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn.btn-sm {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-book {
  position: absolute;
  right: 30px;
  margin-top: -2px;
}

.btn.btn-primary {
  background: #ff5200;
  border-color: #ff5200;
}

.btn.btn-primary:hover {
  border-color: #ff6014;
  background: #ff6014;
}

@media (max-width: 991.98px) {
  .btn-book {
    right: 60px;
  }
}

.btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.carousel {
  width: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
}

.scroll-down-wrap {
  position: relative;
  z-index: 9;
}

.scroll-down {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  color: #fff;
  text-align: center;
  display: block;
  z-index: 2;
  font-size: 12px;
  opacity: 1 !important;
}

.scroll-down span {
  display: block;
}

.scroll-down .mouse {
  width: 20px;
  border-radius: 30px;
  height: 40px;
  border: 2px solid #fff;
  display: inline-block;
}

.scroll-down:hover {
  color: #fff;
}

.social-hero-section {
  position: absolute;
  right: 0;
  bottom: 30px;
  right: 30px;
  z-index: 2;
}

.social-hero-section li {
  display: inline-block;
}

.social-hero-section li a {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
}

.social-hero-section li a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bg-1 {
  background-color: #fee2b3;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.subtitle {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.untree_co-section {
  padding: 100px 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .untree_co-section {
    padding: 50px 0;
  }
  .untree_co-section .heading {
    font-size: 20px;
  }
}

.untree_co-section .heading h3 {
  font-size: 35px;
  color: #000;
}

.untree_co-section .heading strong {
  font-weight: 700;
}

.untree_co-tab-nav li {
  display: block;
  position: relative;
  z-index: 1;
}

.untree_co-tab-nav li img {
  width: 25px;
  margin-right: 20px;
}

.untree_co-tab-nav li a {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
  padding: 15px 20px;
  text-align: center;
  border-radius: 30px;
  color: #000;
}

.untree_co-tab-nav li.active {
  position: relative;
  z-index: 2;
}

.untree_co-tab-nav li.active a {
  color: #ff5200;
  background: #fff;
  -webkit-box-shadow: 0 15px 30px 0 #ebca92;
  box-shadow: 0 15px 30px 0 #ebca92;
}

.product .thumbnail {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 7px;
  margin-bottom: 20px;
  width: 350px;
  height: 200px;
}

.product .thumbnail img {
  width: 350px !important;
  height: 200px !important;
  margin-bottom: 0;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.product .thumbnail:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.product h3 {
  font-size: 18px;
}

.product h3 a {
  color: #000;
}

.product .price {
  color: #ff5200;
}

.dess-item {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dess-item figure {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
}

.dess-item figure img {
  max-width: 100%;
}

.dess-item > div h3 {
  font-size: 20px;
  color: #000;
}

.dess-item > div .price {
  font-size: 20px;
  color: #ff5200;
}

.dess-item:hover {
  background: #fff;
  border: 1px solid transparent;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-img.fixed {
  background-attachment: fixed;
}

.bg-img.overlay {
  position: relative;
}

.bg-img.overlay:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(245, 201, 126, 0.9);
  z-index: 1;
}

.bg-img > .container {
  position: relative;
  z-index: 1;
}

.testimonial-wrap {
  padding: 0 50px;
}

.block-testimonial p {
  font-size: 16px;
  color: #000;
  line-height: 2;
  margin-bottom: 30px;
}

.block-testimonial .author {
  display: block;
  margin-bottom: 40px;
  width: 100%;
}

.block-testimonial .author img {
  width: 200px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.block-testimonial .author h3 {
  font-size: 25px;
  color: #ff5200;
  margin-bottom: 0;
}

.block-testimonial .author .position {
  font-size: 18px;
}

.block-testimonial .message {
  padding: 0 50px;
  font-size: 18px;
}
/*# sourceMappingURL=nimi.css.map */